body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1, h2, h3, p, pre, code {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.image-container {
  max-width: 400px;
  margin: 0 auto 20px auto;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}