body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #e0ddff; /* Light grey background */
  margin: 0;
  padding: 0;
}

#content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f5ff; /* Green background */
  border: 2px solid #000000; /* Black border */
  border-radius: 10px;
}

h1, h2 {
  color: #000000; /* Black text */
  text-align: center;
  margin-bottom: 20px; /* Increased margin */
  font-size: 24px; /* Larger font size */
}

h2 {
  text-decoration: underline; /* Add underline to titles */
  padding-bottom: 10px; /* Add space below titles */
}

.minor-section {
  margin-bottom: 20px;
  border: 2px solid #000000; /* Black border */
  background-color: #b0c6ff; /* Light green background */
  padding: 20px;
  border-radius: 10px;
}

p {
  line-height: 1.6;
  color: #000000; /* Black text */
}

#output {
  margin: 20px auto; /* Center the output */
  padding: 10px;
  border: 2px dashed #000000; /* Dashed black border */
  border-radius: 10px;
}

#output h2 {
  text-decoration: underline; /* Add underline to h2 elements inside #output */
}

.special {
  background-color: rgb(255, 255, 255);
  color: #ffffff;
  font-weight: bold;
}