body {
  font-family: 'Comic Sans MS', cursive;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color:#6b2e63; /* Dark pink background */
  color: #fff;
  padding: 20px 0;
}

h1, h2 {
  margin: 0;
  font-size: 36px;
  text-align: center; /* Center align heading text */
  border-bottom: 2px solid transparent; /* Add a transparent bottom border */
}

section {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #58194f; /* Pink border */
  border-radius: 10px;
  background-color: #fff;
  max-width: 800px;
  text-align: center; /* Center align section content */
}

h2 {
  color: #333;
  padding-bottom: 10px;
  font-size: 24px;
}

p {
  color: #666;
  font-size: 18px;
}

#output {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #58194f; /* Dark pink border */
  border-radius: 5px;
  background-color: #f0f0f0;
}