body {
  font-family: 'Comic Sans MS', cursive;
  background-color: #cafcdd; /* Light green background */
  color: #222; /* Dark text color for better readability */
  margin: 0;
  padding: 0;
  text-align: center; /* Center align all text */
}

header {
  background-color: #2b4d38; /* Dark green background */
  color: #fff;
  padding: 20px 0;
}

h1, h2 {
  margin: 0;
  font-size: 36px;
  text-align: center;
  border-bottom: 2px solid transparent;
  color: #fff; /* White text color */
}

section {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #1b3e2c; /* Dark green border */
  border-radius: 10px;
  background-color: #3c684e; /* Dark green background */
  max-width: 800px;
}

h2 {
  color: #fff; /* White text color */
  padding-bottom: 10px;
  font-size: 24px;
}

p {
  color: #ddd; /* Light gray text color */
  font-size: 18px;
}

#output {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #1b3e2c; /* Dark green border */
  border-radius: 5px;
  background-color: #ffffff; /* White background */
}

#output p {
  color: #000; /* Black text color */
}