#content {
  padding: 20px;
  margin-bottom: 20px;
  text-indent: 5px;
  font-size: 200%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: solid 3px black;
  background-color: cornflowerblue;
  text-align: center; /* Added semicolon */
  margin: 0 auto; /* Added semicolon */
}

#content h1 {
  width: 100%;
  font-size: 200%;
  font-family: sans-serif;
  background-color: dodgerblue;
  border: solid 3px black;
}

.computer {
  width: 50%;
  height: auto;
}